# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/page28/dist/
/page28/build/
/page29_func_args/build/
/page29_func_args/dist/
/page31_return/build/
/page31_return/dist/
/page51_signs/build/
/page51_signs/dist/
/page96_summarizing/dist/
/page96_summarizing/build/
/lab5/nbproject/private/
/lab5/build/
/page107_gets/build/
/page107_gets/dist/
/page109_strcpy/build/
/page109_strcpy/dist/
/page109_strcat/dist/
/page109_strcat/build/
/page110_strcmp/build/
/page110_strcmp/dist/